.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/SalsaNOWThings-Test/v17/DocumentLayout.json
.vs/SalsaNOWThings-Test/v17/.wsuo
.vs/SalsaNOWThings-Test/FileContentIndex/32f25570-44d8-4104-995a-fd82a384a605.vsidx
.vs/SalsaNOWThings-Test/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
.vs/SalsaNOWThings-Test/CopilotIndices/17.14.1231.31060/CodeChunks.db
